html {
    background: #FFC0CB;
    color: #DC143C;
}
body {
    color:#DC143C;
    font: 300 18px/1.6 "Source Sans Pro",sans-serif;
    margin: 0;
    padding: 5em 0 2em;
    text-align: center;
}
.calculator {
    font-size: 28px;
    margin: 0 auto;
    width: 10em;
    border: 3px ridge #DC143C;
    border-radius: 10px;
    background: #ffffff;
}

.calculator::before,
.calculator::after {
     content: " ";
     display: table;
 }

.calculator::after {
     clear: both;
 }
.viewer {
    color: #DC143C;
    /*float: left;*/
    line-height: 3em;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 7em;
    height: 3em;
    margin-left: 75px;
    margin-top: 2px;
}
button {
    border: 0;
    background: #FFC0CB;
    color: #DC143C;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;
    transition: all 0.5s;
}